body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background: #ff4c4c;
  color: white;
  border-radius: 5px;
}
